<p id="notice"><%= notice %></p>

<table class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Has readme  file</th>
      <th>Has LICENSE file</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @repos.each do |repo| %>
      <tr>
        <td><%= link_to repo.name, repo %></td>
        <td><%= repo.size %></td>
        <td><%= repo.has_readme_file %></td>
        <td>  <!-- TODO  --></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>