<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @repo.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @repo.size %>
</p>

<p>
  <% if @repo.has_readme_file %>
    <strong class='good'>Has readme file</strong>
  <% end %> 
</p>

<%= link_to 'Back', repos_path %>
